<table class="table table-bordered">
    <thead>
        <tr>
            <th>Index</th>
            <th>Task</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>i</td>
            <td>{view}</td>
            <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
        </tr>
    </tbody>

</table>