<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Task Managment</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a class="nav-link" routerLink="addtask">Add Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="viewtask">View All Task</a>
            </li>
            
        </ul>
    </div>
</nav>